body{background:#dfddddec}
    p{text-indent:2em;}
    aside{text-align:center;}
    header 
    {
        height:60px;
        background:#2e2d2d;
        margin: 0px;
        display: flex; 
        justify-content: flex-end;  
        align-items: center;
    }
    .box1 {background:#ffffff;}
    footer
    {
        height:60px;
        color:#ffffff;
        background:#2e2d2d;
        position:relative;
        top:20px;
        display: flex; 
        justify-content: center;  
        align-items: center;
    }
    .first{color:#ffffff;}
    .box2
    {
        background-color: rgb(66, 68, 66);
    }